# Ignore virtual environment directories
venv/
.venv/

# Ignore files in directory textFiles
textFiles/

# Ignore log files
*.log

# Ignore yaml files
*.yaml

# Ignore Python bytecode files
__pycache__/